.blog_list{
    background-color: rgb(21, 21, 25);
    border-radius: 20px;
    padding: 1em;
}

.total_counts{
    color: #bada55;
    border: 3px solid #bada55;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;

}

